{% extends 'base.html' %}


{% block body %}




<div class="row">

  <div class="col-sm-6">

<br>

    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/1024px-Closed_Book_Icon.svg.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">Average rating: <strong>{{ average_rating }}</strong> / 5 <br>({{ ratings_count }} ratings)</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author: {{ author }}</li>
        <li class="list-group-item">Published: {{ year }}</li>
        <li class="list-group-item">ISBN: {{ isbn }}</li>
      </ul>
    </div>



</div>



<div class="col-sm-6">
  <br>

  <!-- cards to be iterable upon reviews -->
  {% for review in review_data %}
  <div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ review[1] }}</strong> / 5</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ review[0] }}</h6>
      <p class="card-text">{{ review[2] }}</p>
    </div>
  </div>
  <br>
 {% endfor %}

</div>
</div></div>




<br>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 mx-auto">
            <br>
            <h3 class="login-heading mb-4  text-center">What were your thoughts?:</h3>
            <div class="container">

              <form action="{{ url_for('book', isbn=isbn) }}" method="POST">
                <div class="row">
                  <div class="col-sm">
                    <br>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Rating:</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>

                    </div>
                  </div>

                  <div class="col-sm">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Review:</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
                    </div>
                  </div>
                </div>

            </div>
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<br>


{% endblock %}
