{% extends 'base.html' %}


{% block body %}

<br>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 mx-auto">
            <h3 class="login-heading mb-4  text-center">Search using any of the below fields:</h3>
            <div class="container">

              <form action="{{ url_for('search') }}" method="POST">
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="inputEmail">ISBN</label>
                      <input type="text" id="inputSearch1" class="form-control" placeholder="ISBN" name="isbn" autofocus>
                    </div>
                  </div>

                  <div class="col-sm">
                    <div class="form-group">
                      <label for="inputPassword">Title</label>
                      <input type="text" id="inputSearch2" class="form-control" placeholder="Title" name="title">
                    </div>
                  </div>

                  <div class="col-sm">
                    <div class="form-group">
                      <label for="inputPassword">Author</label>
                      <input type="text" id="inputSearch2" class="form-control" placeholder="Author" name="author">
                    </div>
                  </div>
                </div>

            </div>
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" href"{{ url_for('login', message=message) }}" type="submit">Search</button>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<br>

{% if books %}
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td><a href="{{ url_for('book', isbn=book[0]) }}">{{book[0]}}</a></td>
        <td><a href="{{ url_for('book', isbn=book[0]) }}">{{book[1]}}</a></td>
        <td><a href="{{ url_for('book', isbn=book[0]) }}">{{book[2]}}
            <button type="button" class="btn btn-primary btn-sm" style="float: right;" href="{{ url_for('book', isbn=book[0]) }}">More... </button
          </a>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% else %}
{% if first == False %}
<h1 class="alert alert-dark text-center">404: No books found</h1>
{% endif %}
{% endif %}


{% endblock %}
